// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  width: 100%;
  font-size: 18px;
  font-weight: 200;
  background-color: #eee;
  border-radius: 6px;
  padding: 10px;
  h1 {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.centered{

  width: 100% ;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

#add-user{

  height: 180px;
  border: 1px solid gray;
  margin: 4px;

}
#user-info{

  height: 180px;
  border: 1px solid gray;
  margin: 4px;

}

#user-list{

  width: 614px;
  height: 200px;
  border: 1px solid gray;
  margin: 4px;

}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
