<h2>User Info</h2>
<p>
  <strong>Name:</strong>
  <span id="userInfoName">{{userInfoName}}</span>
  <br>
  <strong>Age:</strong>
  <span id="userInfoAge">{{userInfoAge}}</span>
  <br>
  <strong>Gender:</strong>
  <span id="userInfoGender">{{userInfoGender}}</span>
  <br>
  <strong>Location:</strong> 
  <span id="userInfoLocation">{{userInfoLocation}}</span>
</p>
