<html>
  <head>
    <title></title>
    <meta name="description" content="">
  </head>
  <body>
   

  	<!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/handlebars/handlebars.runtime.js"></script>
    <script src="bower_components/ember/ember.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="templates/application.hbs"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/components/user_info_component.js"></script>
    <!-- endbuild -->

  </body>
</html>

